<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>properties file</comment>

	<entry key="mode.debug">no</entry>

	<entry key="portal.address">http://maps_internal_portal:81</entry>
	
	<entry key="tiny.url.base">https://maps.x1apps.com/TinyUrl/</entry> 
	
	<entry key="mysql.address">jdbc:mysql://micro_services_db:3306/tiny_url</entry>
	
	<entry key="mysql.user">root</entry>
	
	<entry key="mysql.password">1qazplmm</entry>
	
</properties>